<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" type="text/css" href="../../static/calendar/style.css">
    <!-- Boxicons & Bootstrap CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body onload="init()">
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-sync icon'></i>
        <div class="logo_name">in-Sync Menu</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search In Menu...">
         <span class="tooltip">Search In Menu</span>
      </li>
      <li>
        <a href="#">
          <div class="sub_nav">
          	<i class='bx bx-user'></i>
	        <span class="links_name">User Calendar<button class="subnavbtn" id="subnavbtn"><i class='bx bx-chevron-right' ></i></button>
	        </span>
	        <div class="subnav_content">
	       	  <a href="#"><i class='bx bx-calendar-plus'></i>Add Calendar</a>
	       	  <a href="#"><i class='bx bx-calendar-x' ></i>Remove Calendar</a>
	       	  <a href="#"><i class='bx bx-calendar-event' ></i>Add/Remove Event</a>
	        </div>
	      </div>
        </a>
         <span class="tooltip"><strong>User Calendar</strong></span>
      </li>
      <li>
       <a href="#">
       	<div class="sub_nav">
	         <i class='bx bx-group'></i>
	         <span class="links_name">Groups<button class="subnavbtn" id="subnavbtn"><i class='bx bx-chevron-right' ></i></button>
	         </span>
	         <div class="subnav_content">
	         	<a href="#"><i class='bx bx-plus'></i>Create Group</a>
	         	<a href="#"><i class='bx bxs-user-detail'></i>View Groups</a>
	         	<a href="#"><i class='bx bx-edit-alt'></i>Edit Groups</a>
	         </div>
	   	</div>
       </a>
       <span class="tooltip">Shared Group Calendars</span>
     </li>
     <li>
       <a href="#">
       	<div class="sub_nav">
         <i class='bx bx-calendar'></i>
         <span class="links_name">Calendar<button class="subnavbtn" id="subnavbtn"><i class='bx bx-chevron-right' ></i></button>
         </span>
         <div class="subnav_content">
	         	<a href="#"><i class='bx bx-calendar-check'></i>View Group Calendars</a>
	         	<a href="#"><i class='bx bx-calendar-edit'></i>Edit Group Calendars</a>
	     </div>
       </a>
       <span class="tooltip">Calendar Dashboard</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Setting</span>
       </a>
       <span class="tooltip">Setting</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <!-- <img src="../main_image_files/glenn_image.png" alt="profileImg"> -->
           <div class="name_job">
             <div class="name">{{ session['fb_user']['email'] }}</div>
             <!-- <div class="job">Tech Expert | Apple Inc.</div> -->
           </div>
         </div>
         <i class='bx bx-log-out' id="log_out" ></i>
     </li>
    </ul>
  </div>
  <section class="home-section">
      <div class="text">{{ calendar.calendar_name }}</div>
      <div class="cal">
          <body class="ml-calendar-demo">
  <div class="ml-calendar">
    <section class="calendar-left">
      <div class="sidebar_cal">
        <p class="subheading">Today</p>
        <h1 id="todayDate"></h1>
      <p><a href="#" class="calendar-btn"><i class="fas fa-plus"></i> Add new item</a></p>
      <!-- <p><a href="#" class="calendar-btn"><i class="fas fa-minus"></i> Remove an item</a></p> -->
      </div>
    </section>
    <section class="calendar-right">
      <div id="calendar">
        <section class="calendar-header">
          <h2 id="monthyear"></h2>
          <div class="calendar-nav">
            <span><i class="fas fa-arrow-left" onclick="calLeft()"></i></span><span onclick="init()">Today</span><span onclick="calRight()"><i class="fas fa-arrow-right"></i></span>&nbsp;
          </div>
        </section>
        <section class="calendar-row">
          <div class="calendar-day day-name">Sun</div>
          <div class="calendar-day day-name">Mon</div>
          <div class="calendar-day day-name">Tue</div>
          <div class="calendar-day day-name">Wed</div>
          <div class="calendar-day day-name">Thu</div>
          <div class="calendar-day day-name">Fri</div>
          <div class="calendar-day day-name">Sat</div>
        </section>
        {% for i in range(6) %}
        <section class="calendar-row">
          {% for i in range(7) %}
          <div class="calendar-day inactive">
            <span class="calendar-date"></span>
            <div class="calendar-events"></div>
          </div>
          {% endfor %}
        </section>
        {% endfor %}
      </div>
    </section>
    <div class="clear"></div>
</body>

      </div>
  </section>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let subnav = document.querySelector(".subnav_content");
  let subNavBtn = document.querySelector("#subnavbtn");
  let searchBtn = document.querySelector(".bx-search");
  //let sidebarLogo = document.querySelector(".navtabis")

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  subNavBtn.addEventListener("click", ()=>{
  	subnav.classList.toggle("open");
  	//subMenuBtnChange();
  })

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  function subMenuBtnChange() {
  	if(subnav.classList.contains("open")){
  		sidebarLogo.classList.toggle("open");
  	}else {
  		sidebarLogo.classList.toggle("open");
  	}
  }

  // FUNCTIONS

  let shown_date = null;

  function init() {
    let today = new Date();
    // set shown date
    shown_date = new Date(today.getFullYear(), today.getMonth(), 1);
    // display today's date left of calendar
    todayDate.innerText = today.toLocaleDateString("en-us", {"weekday": "long", "month": "long", "day": "numeric"});
    // display month in calendar
    displayCalendarMonth();
  }

  function calLeft() {
    console.log("test");
    shown_date.setMonth(shown_date.getMonth() - 1);
    displayCalendarMonth();
  }

  function calRight() {
    console.log("test");
    shown_date.setMonth(shown_date.getMonth() + 1);
    displayCalendarMonth();
  }

  // change the calendar to display this month
  function displayCalendarMonth() {
    monthyear.innerText = shown_date.toLocaleDateString("en-us", {"month": "long", "year": "numeric"});

    let offset = shown_date.getDay();
    // set the days of the first couple blocks to nothing. Based on what day the month starts
    for (let i = 0; i < offset; i++) calendar.children[2].children[i].children[0].innerText = "";
    
    // get the length of the month
    let date = new Date(shown_date);
    date.setMonth(shown_date.getMonth() + 1);
    date.setDate(0);
    let length = date.getDate();

    for (let i = 0; i < length; i++) {
      j = i + offset;
      calendar.children[2 + Math.trunc(j / 7)].children[j % 7].children[0].innerText = String(i+1);
    }

    // clear the rest of the nodes
    let rest = offset + length;
    for (let i = rest; i < 42; i++) {
      calendar.children[2 + Math.trunc(i / 7)].children[i % 7].children[0].innerText = "";
    }
  }
  </script>
</body>
</html>

