<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <link rel="stylesheet" type="text/css" href="static/user/style.css">
    <!-- Boxicons & Bootstrap CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-sync icon'></i>
        <div class="logo_name">in-Sync Menu</div>
        <i class='bx bx-menu' id="btn" ></i>
    </div>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search In Menu...">
         <span class="tooltip">Search In Menu</span>
      </li>
      <li>
        <a href="#">
          <div class="sub_nav">
          	<i class='bx bx-user'></i>
	        <span class="links_name">User Calendar<button class="subnavbtn" id="subnavbtn"><i class='bx bx-chevron-right' ></i></button>
	        </span>
	        <div class="subnav_content">
	       	  <a href="#"><i class='bx bx-calendar-plus'></i>Add Calendar</a>
	       	  <a href="#"><i class='bx bx-calendar-x' ></i>Remove Calendar</a>
	       	  <a href="#"><i class='bx bx-calendar-event' ></i>Add/Remove Event</a>
	        </div>
	      </div>
        </a>
         <span class="tooltip"><strong>User Calendar</strong></span>
      </li>
      <li>
       <a href="#">
       	<div class="sub_nav">
	         <i class='bx bx-group'></i>
	         <span class="links_name">Groups<button class="subnavbtn" id="subnavbtn"><i class='bx bx-chevron-right' ></i></button>
	         </span>
	         <div class="subnav_content">
	         	<a href="#"><i class='bx bx-plus'></i>Create Group</a>
	         	<a href="#"><i class='bx bxs-user-detail'></i>View Groups</a>
	         	<a href="#"><i class='bx bx-edit-alt'></i>Edit Groups</a>
	         </div>
	   	</div>
       </a>
       <span class="tooltip">Shared Group Calendars</span>
     </li>
     <li>
       <a href="#">
       	<div class="sub_nav">
         <i class='bx bx-calendar'></i>
         <span class="links_name">Calendar<button class="subnavbtn" id="subnavbtn"><i class='bx bx-chevron-right' ></i></button>
         </span>
         <div class="subnav_content">
	         	<a href="#"><i class='bx bx-calendar-check'></i>View Group Calendars</a>
	         	<a href="#"><i class='bx bx-calendar-edit'></i>Edit Group Calendars</a>
	     </div>
       </a>
       <span class="tooltip">Calendar Dashboard</span>
     </li>
     <li>
       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Setting</span>
       </a>
       <span class="tooltip">Setting</span>
     </li>
     <li class="profile">
         <div class="profile-details">
           <!-- <img src="../main_image_files/glenn_image.png" alt="profileImg"> -->
           <div class="name_job">
             <div class="name">{{ session['fb_user_profile']['email'] }}</div>
             <!-- <div class="job">Tech Expert | Apple Inc.</div> -->
           </div>
         </div>
         <a href="/logout"><i class='bx bx-log-out' id="log_out" ></i></a>
     </li>
    </ul>
  </div>
  <section class="home-section">
      <div class="text">Welcome {{ session['fb_user_profile']['name'] }}!</div>

      <!-- CALENDAR LISTS BODY -->
      <div class="cal-groups">

          {% for calendar in calendars %}
          <a href="{{url_for('display_calendar', calendar_id=calendar.key())}}">
            <div class="cal-item">
              <div class="cal-figure"></div>
              <div class="cal-name">{{ calendar.val()['calendar_name'] }}</div>
            </div>
          </a>
          {% endfor %}

          {% if invite_calendars %}
            {% for calendar in invite_calendars %}
            <a href="{{url_for('display_calendar', calendar_id=calendar)}}">
              <div class="cal-item">
                <div class="cal-figure red"></div>
                <div class="cal-name">{{ get_cal(calendar)['calendar_name'] }}</div>
              </div>
            </a>
            {% endfor %}
          {% endif %}

          <div class="cal-item">
            <div class="cal-figure add" onclick="openNewCalendarModal()">+</div>
          </div>
      </div>

      <dialog id="newCal">
        <button class="x" onclick="closeNewCalendarModal()">&times</button>
        <form method="post" action="create_calendar">
          <input type="text" name="name">
          <button type="submit">OK</button>
        </form>
      </dialog>


  </section>
  <script>
  let sidebar = document.querySelector(".sidebar");
  let closeBtn = document.querySelector("#btn");
  let subnav = document.querySelector(".subnav_content");
  let subNavBtn = document.querySelector("#subnavbtn");
  let searchBtn = document.querySelector(".bx-search");
  //let sidebarLogo = document.querySelector(".navtabis")

  closeBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("open");
    menuBtnChange();//calling the function(optional)
  });

  subNavBtn.addEventListener("click", ()=>{
  	subnav.classList.toggle("open");
  	//subMenuBtnChange();
  })

  searchBtn.addEventListener("click", ()=>{ // Sidebar open when you click on the search iocn
    sidebar.classList.toggle("open");
    menuBtnChange(); //calling the function(optional)
  });

  // following are the code to change sidebar button(optional)
  function menuBtnChange() {
   if(sidebar.classList.contains("open")){
     closeBtn.classList.replace("bx-menu", "bx-menu-alt-right");//replacing the iocns class
   }else {
     closeBtn.classList.replace("bx-menu-alt-right","bx-menu");//replacing the iocns class
   }
  }
  function subMenuBtnChange() {
  	if(subnav.classList.contains("open")){
  		sidebarLogo.classList.toggle("open");
  	}else {
  		sidebarLogo.classList.toggle("open");
  	}
  }


  // new calendar modal
  function openNewCalendarModal() {
    newCal.showModal();
  }

  function closeNewCalendarModal() {
    newCal.close();
  }
  </script>
</body>
</html>

